*{
    margin: 0;
    padding: 0;
}

@font-face{
    src: url('fonts/Raleway/Raleway-Regular.ttf');
    font-family: "raleway-normal";
}
@font-face{
    src: url('fonts/Raleway/Raleway-Bold.ttf');
    font-family: "raleway-bold";
}
@font-face{
    src: url('fonts/Raleway/Raleway-ExtraLight.ttf');
    font-family: "raleway-light"
}
@font-face{
    src: url('fonts/Open-sans/OpenSans-Regular.ttf');
    font-family: "open-sans";
}
@font-face{
    src: url('fonts/Open-sans/OpenSans-Bold.ttf');
    font-family: "open-sans-bold";
}
@font-face{
    src: url('fonts/Caveat/Caveat-Regular.ttf');
    font-family: "caveat";
}
@font-face{
    src: url('fonts/roboto/RobotoCondensed-Regular.ttf');
    font-family: "roboto-Condensed";
}
@font-face{
    src: url('fonts/roboto/RobotoCondensed-Bold.ttf');
    font-family: "roboto-Condensed-bold";
}
@font-face{
    src: url('fonts/roboto/RobotoCondensed-Light.ttf');
    font-family: "roboto-Condensed-light";
}

.header{
    background: url('img/cover_image.jpg') no-repeat center center ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #654ea3c7, #eaafc8be);
}
#particles-js canvas{
    position: fixed;
    top: 0;
}
.menubar{
    min-height:56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.menu-bg-color{
    background: transparent !important;
    max-width: 1110px;
    margin: auto;
}
.menu-scroll{
    background: #654ea3c7 !important;
}
.navbar-brand{
    font-family: 'open-sans-bold';
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 5px;
    text-shadow: 0 0 5px #2d2a2a;
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.toggler-btn{
    position: relative;
    z-index: 1;
}
.nav-link{
    font-family: "raleway-normal";
    text-transform: uppercase;
    font-size: 13px;
    color: #fff !important;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}
.nav-link::before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #eaafc8be;
    bottom: 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
}
.marking-tag{
    width: 300px;
    height: auto;
    display: inline-block;
    background: #bb2c33;
    box-shadow: 0 0 5px #443b3b;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}
.marking-tag span{
    font-family: 'caveat';
    font-size: 35px;
    color: #fff;
}
.title{
    position: relative;
    z-index: 1;
}
.txt-type > .txt {
    border-right: 0.2rem solid #fff;
    font-family: 'raleway-bold';
    font-size: 50px;
    color:#fff;
    text-shadow: 0 0 6px #2d2a2a;
}

.scroll-bottom-btn{
    position: relative;
    z-index: 1;
}

.scroll-bottom-btn a{
    background: transparent;
    padding: 12px 10px;
    color: #fff;
    border-radius: 17px;
    border: 2px solid;
    font-size: 18px;
}

.section-heading h2{
    font-family: "open-sans-bold";
    text-transform: capitalize;
    color: #2d2a2a;
    text-shadow: 1px 1px 4px #ccc;
}
.section-heading span{
    font-family: "raleway-normal";
    color: rgb(68, 66, 66);
}

.resume-about-heading{
    font-family: "raleway-normal";
    color: #2d2a2a;
    margin-bottom:20px; 
}
.resume-about-heading span{
    font-family: 'raleway-bold';
    color: #bb2c33;
}
.resume article{
    font-family: "raleway-normal";
    font-size: 14px;
    line-height: 2rem;
    color: rgb(61, 61, 61);
    margin-bottom: 20px;
}
.resume-download-btn{
    padding: 10px 30px;
    font-family: "roboto-Condensed-bold";
    background: #bb2c33;
    border: none;
    color:#fff;
    box-shadow: 0 0 2px 1px #6f6f6f;
    text-decoration: none;
}
.resume-download-btn:hover{
    text-decoration: none;
    color: #fff;
}
.general-skills h5{
    font-family: "roboto-Condensed";
    color: #4d4a4a;
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skill{
    display: block;
    min-height: 30px;
    font-family: 'roboto-Condensed';
    font-size:14px;
    text-transform: uppercase;
    font-weight: 600;
    color:#6f6f6f;
}
.skill-name{
    float: left;
}
.skill-parcentage{
    float:right;
}
.progress{
    height: 5px;
    border-radius:unset;
    margin-bottom: 2rem;
}
.progress-bar{
    background: #654ea3;
}
.educations h5{
    font-family: "roboto-Condensed";
    text-transform: uppercase;
    color: #4d4a4a;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.education{
    margin-bottom: 20px;
}
.edu-institute h6{
    font-family: "monospace";
    text-transform: uppercase;
    color: #bb2c33;
    text-shadow: 0 2px 2px #eaafc8;
}
.edu-institute h6 i{
    margin-right: 5px;
}
.edu-time{
    font-family: 'roboto-Condensed';
    color: #4d4a4a;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.edu-time i{
    margin-right: 5px;
}
.degree{
    font-family: "roboto-Condensed-bold";
    text-transform: uppercase;
    color: #4d4a4a;
    letter-spacing: 2px;
    font-size: 14px;
}
.bottom-border{
    width: 100px;
    height: 2px;
    background: #654ea3;
}
.project{
    padding-bottom: 20px;
    border-bottom:2px solid #ddd;
    box-shadow: 0 2px 11px #f1f1f1;
}
.project a{
    text-decoration: none;
}
.thumbnail{
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-bottom: none;
    overflow: hidden;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s ease-in;
}
.project-name h6{
    font-family: "raleway-bold";
    color: #4d4a4a;
    font-size: 18px;
}
.project-name p{
    font-family: "monospace";
    color: #bb2c33;
}
.project-name span{
    font-family: "open-sans";
    color: #7b7979;
    font-weight: 600
}
.project a:hover .thumbnail>img{
    transform: scale(1.08)
}

/*===============Testimonial Section Start Here===============*/

.testimonial{}
.my-clients{
    display: inline-block;
    border:3px solid #4d4a4a;
}
.my-clients span{
    font-family: monospace;
    font-size: 20px;
    padding: 8px 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: block
}
.all-testimonial .owl-dots{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.all-testimonial .owl-dots .owl-dot{
    background: #4d4a4a;
    width: 12px;
    height: 12px;
    border-radius:50%;
    margin: 10px;
}
.all-testimonial .owl-dots .owl-dot:focus{
    outline: none;
}
.all-testimonial .owl-dots .active{
    background: #654ea3;
}
.testimonial-body{
    text-align:center;
}
.testimonial-body article{
    padding: 10px;
    font-family: 'roboto-Condensed-light';
    font-style: italic;
    font-size: 18px;
}
.testimonial-body article::before{
    content: '\f10d';
    display: inline;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: top;
    font-size: 10px;
    color:#4d4a4a
}
.testimonial-body article::after{
    content: '\f10e';
    display: inline;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: top;
    font-size: 10px;
    color:#4d4a4a
}
.testimonial-body p{
    font-family: "roboto-Condensed-bold";
    font-size: 18px;
    text-transform: uppercase
}

/*===============Testimonial Section End Here===============*/

.contact-info{
    position: relative;
    width: 100%;
    height: 500px;
}
#map{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url('img/newsletter.jpg') no-repeat center center;
    background-size: cover;
}
#map::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.contact-info-body{
    position: relative;
    width: 100%;
    height: 100%;
}
.contact-info-body .section-heading>h2, 
.contact-info-body .section-heading>span{
    color: #fff;
}
.contact-input, .contact-message{
    border-radius: 20px;
    background: transparent;
    color:#fff;
    font-family: "raleway-normal"
}
.contact-input:focus, .contact-message:focus{
    background: transparent;
    border-color: #ddd;
    box-shadow: 0 0 5px #9c9c9c;
    color:#fff;
}
.contact-info-body label{
    color: #fff;
    font-family: "raleway-bold";
    padding: 10px;
}
.contact-btn{
    padding: 10px 30px;
    background: #bb2c33;
    color: #fff;
    font-family: "roboto-Condensed-bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}
.contact-btn:hover{
    color:#fff;
}
.contact-btn:focus{
    box-shadow: 0 0 5px #9c9c9c;
}
.footer{
    background: #4d4a4a;
    width: 100%;
    min-height: 100px;
}

.social-icons ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icons ul li{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 20px;
}
.social-icons ul li a{
    display: block;
    position: absolute;
    text-decoration: none;
    color:#fff;
    border-radius: 50%;
    margin: 10px 20px;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
}
.social-icons ul li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
